---
import js from "../assets/js.png";
import { imprimeArray } from "../services/main"
const cardContent = [
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/phgvshq4yjmwygoqb57o.webp',
    title: 'css 3',
    description: 'cascading styles sheets',
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/b0dzfp31wjpth5s84xec.webp',
    title: 'git',
    description: 'control de versiones',
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/b6drsnclncg3obbai794.webp',
    title: 'github',
    description: 'alojamiento de proyectos'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/uyvzk0vs4mvchsvzvam3.webp',
    title: 'html',
    description: 'hyper text markup lenguage'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/xpno7mgafmraoz86odmb.webp',
    title: 'javascript',
    description: 'lenguaje de programacion'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/walknbtmvcc0ju2yu9zm.webp',
    title: 'sass',
    description: 'lenguaje de css'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/m6glxdmmkbczhmd8crih.webp',
    title: 'vue',
    description: 'framewor de js para el diseño de interfaces'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1706123577/logos/ghjtxad3p3vuunvjyeu4.png',
    title: 'amazon web services',
    description: 'servicio de computacion en la nube'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/yhnrqfgnxwfpw4uxsea7.webp',
    title: 'bootstrap',
    description: 'biblioteca para el diseño de paginas'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/l5gpw5xzy1f1dbsbp6qs.webp',
    title: 'tailwind',
    description: 'framework de css para diseño de paginas'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/k3qqkpmiczmphvgukspm.webp',
    title: 'react',
    description: 'libreria de javascript ops'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/wgrnwseakperpnpn63ps.webp',
    title: 'photoshop',
    description: 'editor de fotografias'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/yxpxy5hm3t8vfdwdxwmf.webp',
    title: 'npm',
    description: 'node package modules'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509594/logos/es1ox4uluzolfzhtofd9.webp',
    title: 'jira',
    description: 'jira gestion de proyectos'
  },
  {
    img: 'https://res.cloudinary.com/djvitvb1v/image/upload/v1705509595/logos/od5fawnr5uuch20tz4ad.webp',
    title: 'astro',
    description: 'framework astro build'
  },
]


const [ mitad1, mitad2 ] = imprimeArray(cardContent);



---


<section class="pt-10 pb-10 sm:pt-16 lg:pt-24" id="experiencia">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-4xl text-center py-5 font-bold leading-tight text-black dark:text-white/80 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
          Experiencia
       </h2>
    </div>
  </div>

 

  <div class="scroller mx-auto mt-10 md:mt-20">
    <ul class="scroller__inner">
      {
        mitad1.map((item) => (
        <li class="bg-white/80  py-3 px-3 rounded-md shadow-md text-center">
            <img  src={item.img} width="134" height="70" alt={item.description}/>
            <span class="font-bold text-black dark:text-white block mt-3 uppercase">{item.title}</span>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="scroller mx-auto mt-10 md:mt-20" data-direction="right">
    <ul class="scroller__inner">
      {
        mitad2.map((item) => (
        <li class="bg-white/80 dark:bg-black py-3 px-3 rounded-md shadow-md text-center">
            <img  src={item.img} width="150" height="150" alt={item.description}/>
            <span class="font-bold text-black dark:text-white block mt-3 uppercase">{item.title}</span>
          </li>
        ))
      }
    </ul>
  </div>

</section>

<script>
  const scrollers = document.querySelectorAll(".scroller");
  if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
    addAnimation();
  }

  function addAnimation() {
    scrollers.forEach((scroller) => {
      scroller.setAttribute("data-animated", true);

      const scrollerInner = scroller.querySelector('.scroller__inner');
      const scrollerContent = Array.from(scrollerInner.children);

      scrollerContent.forEach((item) => {
        const duplicateItem = item.cloneNode(true);
        duplicateItem.setAttribute("aria-hidden", true);
        scrollerInner.appendChild(duplicateItem)
      })
    
    });
  }
</script>

<style>
  .scroller {
    max-width: 1220px;
   
  }
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: 
    scroll 
    var(--_animation-duration, 40s)
    var(--_animation-direction, forwards)
     linear
      infinite;
  }
  .scroller[data-direction="right"]{
    --_animation-direction: reverse;
   
  }




  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .scroller__inner img {
    height: 70px;
    margin: 0px 40px;
  }


.tag-list{
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li{
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
}
</style>
